```{=html}

<% 
function groupIcon(group) {
  switch(group) {
    case "Coding":
      return "code";
    case "Math":
      return "calculator";
    case "Reasoning":
      return "boxes";
    default:
      return "book"
  }
}
%>

<ul class="list no-bullets">

<% let group="" %> 

<% for (let i = 0; i < items.length; i++){ %>
  <% item=items[i] %>
  <% if (item["group"] !== group) { %>
  <% group=item["group"] %>  
<li class="group"><h3><%= item["group"] %></h3></li>
  <% } %>  
  <% item=items[i] %>
<li class="example" <%= metadataAttrs(item) %>>
  <a href="https://github.com/UKGovernmentBEIS/inspect_ai/tree/main/<%- item.path %>">
    <div class="example-card">
      <div class="example-icon fs-5">
        <i class="bi bi-<%= groupIcon(group) %>"></i>
      </div>
      <div class="example-info">
        <div class="listing-title fs-5"><%= item["title"] %></div>
        <div class="listing-description text-secondary text-small"><%= item["description"] %></div>
      </div>
    </div>
  </a>
</li>
<% } %>  
</ul>
```

  
